@charset "utf-8";
/* CSS Document */
.content {
	height: 1000px;
	margin: 0 auto;
	margin-top: 20px;
	width: 85%;
	font-size: 16px;
	color: #999;
	font-family: '微软雅黑';
}

.content .content_nav {
	font-family: "黑体";
	margin-left: 78px;
	font-size: 18px;
	font-weight: bold;
}

.content .content_nav span {
	
}

.content .content_nav a {
	text-decoration: none;
	color: #999;
}

.content .content_nav a:hover {
	color: #5AB7E2;
}

.content .content_nav .nav_off {
	float: left;
	width: 235px;
}

.content .content_nav .nav_on {
	color: #5AB7E2;
	float: left;
	width: 251px;
}

.content .content_main {
	padding-top: 20px;
	width: 100%;
	border: 1px solid #C6E5DC;
	background: #fff;
}

.content .content_main  .main_msg {
	margin-left: 73px;
	color: black;
	width: 825px;
	border-bottom: 1px dashed #666;
	height: 50px;
}

.main_msg .msg_tit {
	font-size: 24px;
}

.main_msg .msg_con {
	margin-left: 145px;
}

.content .content_main  .main_seats {
	margin-bottom: 3%;
}

.content_main  .main_seats .seat_tip {
	height: 70px;
	margin: 0 auto;
	width: 629px;
	line-height: 70px;
	padding-left: 6%;

}
.content_main  .main_seats .seat_tip span {
	width: 206px;
	float: left;
}

.content_main   .seats_s {
	width:595px;
/*	width: 57%;*/
	height: 434px;
	margin-left: 22%;
}

.seats_s  .seat_item {
	color: black;
	text-align: center;
	float: left;
	width: 32px;
	height: 43px;
	font-weight: bold;
	font-size: 13px;
}

.seats_s  .seat_row {
	color: black;
	text-align: center;
	float: left;
	height: 34px;
	width: 20px;
	margin-top: 12px;
	margin-right: 16px;
	margin-left: 4px;
}

.seats_s  .seat_item .seat_img {
	background-image: url(../pic/chooseseats/sit_div_img.jpg);
	width: 26px;
	height: 26px;
	cursor: pointer;
}

.seats_s  .seat_item .seat_img1 {
	background-image: url(../pic/chooseseats/sit_div_img2.jpg);
	width: 26px;
	height: 26px;
}

.seats_s  .seat_item .seat_img0 {
	width: 26px;
	height: 26px;
}

.content  .seat_rebtn button {
	border: 0;
	background: #6AB6DA;
	color: white;
	font-size: 12px;
	width: 85px;
	height: 34px;
	float: right;
	margin-right: 111px;
	margin-top: -44px;
	cursor: pointer;
}

.content  .msgs {
	margin-left: 83px;
	margin-bottom: 25px;
}

.content  .msgs button {
	clear: both;
	border: 0;
	background: #6AB6DA;
	color: white;
	font-size: 15px;
	width: 190px;
	height: 37px;
	display: block;
	margin-top: 10px;
}

.content .products {
	margin-top: 20px;
	padding-left: 73px;
	padding-top: 20px;
	border: 1px solid #C6E5DC;
	width: 93%;
	float: left;
	margin-bottom: 26px;
	background: white;
}

.content .products .products_tit {
	font-size: 24px;
	color: black;
	border-bottom: 1px dashed #666;
	height: 48px;
}

.content .products  .products_main {
	margin-top: 20px;
}

.content .products .products_item {
	float: left;
	margin-right: 29px;
	height: 120px;
}

.content .products .products_item .products_txt {
	float: left;
	margin-left: 12px;
}

.content .products .products_item .products_txt button {
	width: 17px;
	height: 28px;
	text-align: center;
	padding: 0;
}

.content .products .products_item .products_txt input {
	width: 20px;
	height: 16px;
}

.content_main .main_submit {
	float: right;
	width: 205px;
	height: 104px;
}

.content_main .main_submit button {
	clear: both;
	border: 1px white solid;
	background: #6AB6DA;
	color: white;
	font-size: 20px;
	width: 190px;
	font-weight: bold;
	display: block;
	margin-top: 10px;
	height: 49px;
	cursor: pointer;
}

#footer_linkarea {
	width: 98%;
}