@charset "utf-8";
/* CSS Document */

.top{ 
	width:70%;
	margin:0 auto;  	 
	
}


 .top_logo{
	background-color:#E0EEF7;
	
}
 .top_logo  .logo_div{
	width: 80%;
	margin: 0 auto;
	
}


.top #top_1{
	
	height:20px;
	
}

.top_link .link {
	
	font-size:12px;
	color:#666;
	margin-right: 5px;
}

.top_link .link{ float:right;
		
}
.top_link a:hover {font-size:16px;}

.top_nav{
	width:100%;
	background:#5EB7E2;
	height:44px;
}
	
	