.content .content_right .main_tit2 {
	color: #333;
	font-size: 20px;
	height: 40px;
	line-height: 40px;
	margin-top: 8px;
}

.content .content_right .main_tit2 button {
	background: #5DB6E0;
	text-shadow: none;
	border: 0;
	font-size: 18px;
	height: 39px;
	color: #fff;
	margin-left: 47%;
}

#picUpload {
	width: 874px; 
	padding-bottom: 2%;
	padding-top: 2%;
}

}
#picUpload tr {
	font-size: 13px;
}

#picUpload td.tit {
	color: black;
	font-size: 15px;
}

#picUpload td.inp {
	
}

#picUpload td.im {
	
}

#picUpload td.im img {
	width: 250px;
}

#picUpload td.im img#posterimg {
	width: 174px;
}

#picUpload td.im img#infoposterimg {
	width: 420px;
}

#imgSub {
	background: #5DB6E0;
	text-shadow: none;
	border: 0;
	font-size: 18px;
	height: 37px;
	color: #fff;
	left: 40%;
	top: 21px;
	width: 95px;
	position: relative;
}

input.inSubmit {
	background: #5DB6E0;
	text-shadow: none;
	border: 0;
	font-size: 18px;
	height: 37px;
	color: #fff;
	position: relative;
	top: 32px;
} 