<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>jee-moviesell</display-name>
  <welcome-file-list>
    <welcome-file>jsp/index.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>jdbc/MySQLDB数据库连接池资源</description>
    <res-ref-name>jdbc/MySQLDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <listener>
    <listener-class>com.chinasofti.commonsframework.datasource.ConnectionPoolListener</listener-class>
  </listener>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.chinasofti.commonsframework.util.EncodingFilter</filter-class>
    <init-param>
      <param-name>encode</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCitiesServlet</display-name>
    <servlet-name>ShowCitiesServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.cities.ShowCitiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCitiesServlet</servlet-name>
    <url-pattern>/ShowCitiesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCitiesServlet</display-name>
    <servlet-name>AddCitiesServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.cities.AddCitiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCitiesServlet</servlet-name>
    <url-pattern>/AddCitiesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCitiesServlet</display-name>
    <servlet-name>DeleteCitiesServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.cities.DeleteCitiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCitiesServlet</servlet-name>
    <url-pattern>/DeleteCitiesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCitiesServlet</display-name>
    <servlet-name>UpdateCitiesServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.cities.UpdateCitiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCitiesServlet</servlet-name>
    <url-pattern>/UpdateCitiesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindByIdCitiesServlet</display-name>
    <servlet-name>FindByIdCitiesServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.cities.FindByIdCitiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindByIdCitiesServlet</servlet-name>
    <url-pattern>/FindByIdCitiesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.admin.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginServlet</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.user.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUsersServlet</display-name>
    <servlet-name>ShowUsersServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.user.ShowUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUsersServlet</servlet-name>
    <url-pattern>/ShowUsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.user.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserEnrollServlet</display-name>
    <servlet-name>UserEnrollServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.user.UserEnrollServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserEnrollServlet</servlet-name>
    <url-pattern>/UserEnrollServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveSessionServlet</display-name>
    <servlet-name>RemoveSessionServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.RemoveSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveSessionServlet</servlet-name>
    <url-pattern>/RemoveSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserServlet</display-name>
    <servlet-name>UpdateUserServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.user.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserServlet</servlet-name>
    <url-pattern>/UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>CheckUserLoginFilter</display-name>
    <filter-name>CheckUserLoginFilter</filter-name>
    <filter-class>com.chinasofti.moviesell.filters.CheckUserLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CheckUserLoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>CheckAdminLoginFilter</display-name>
    <filter-name>CheckAdminLoginFilter</filter-name>
    <filter-class>com.chinasofti.moviesell.filters.CheckAdminLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CheckAdminLoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <display-name>GetCitiesFilter</display-name>
    <filter-name>GetCitiesFilter</filter-name>
    <filter-class>com.chinasofti.moviesell.filters.GetCitiesFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GetCitiesFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ShowMoviesServlet</display-name>
    <servlet-name>ShowMoviesServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.movie.ShowMoviesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowMoviesServlet</servlet-name>
    <url-pattern>/ShowMoviesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindByIdMoviesServlet</display-name>
    <servlet-name>FindByIdMoviesServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.movie.FindByIdMoviesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindByIdMoviesServlet</servlet-name>
    <url-pattern>/FindByIdMoviesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateMoviesServlet</display-name>
    <servlet-name>UpdateMoviesServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.movie.UpdateMoviesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMoviesServlet</servlet-name>
    <url-pattern>/UpdateMoviesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMoviesServlet</display-name>
    <servlet-name>AddMoviesServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.movie.AddMoviesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMoviesServlet</servlet-name>
    <url-pattern>/AddMoviesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMoviesServlet</display-name>
    <servlet-name>DeleteMoviesServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.movie.DeleteMoviesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMoviesServlet</servlet-name>
    <url-pattern>/DeleteMoviesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTheatresServlet</display-name>
    <servlet-name>AddTheatresServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.theatres.AddTheatresServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTheatresServlet</servlet-name>
    <url-pattern>/AddTheatresServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTheatresServlet</display-name>
    <servlet-name>DeleteTheatresServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.theatres.DeleteTheatresServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTheatresServlet</servlet-name>
    <url-pattern>/DeleteTheatresServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindByIdTheatresServlet</display-name>
    <servlet-name>FindByIdTheatresServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.theatres.FindByIdTheatresServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindByIdTheatresServlet</servlet-name>
    <url-pattern>/FindByIdTheatresServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowTheatresServlet</display-name>
    <servlet-name>ShowTheatresServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.theatres.ShowTheatresServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTheatresServlet</servlet-name>
    <url-pattern>/ShowTheatresServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTheatresServlet</display-name>
    <servlet-name>UpdateTheatresServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.theatres.UpdateTheatresServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTheatresServlet</servlet-name>
    <url-pattern>/UpdateTheatresServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddShowmoiveServlet</display-name>
    <servlet-name>AddShowmoiveServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.showmoive.AddShowmoiveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddShowmoiveServlet</servlet-name>
    <url-pattern>/AddShowmoiveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteShowmoiveServlet</display-name>
    <servlet-name>DeleteShowmoiveServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.showmoive.DeleteShowmoiveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteShowmoiveServlet</servlet-name>
    <url-pattern>/DeleteShowmoiveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindByIdShowmoiveServlet</display-name>
    <servlet-name>FindByIdShowmoiveServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.showmoive.FindByIdShowmoiveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindByIdShowmoiveServlet</servlet-name>
    <url-pattern>/FindByIdShowmoiveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowShowmoiveServlet</display-name>
    <servlet-name>ShowShowmoiveServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.showmoive.ShowShowmoiveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowShowmoiveServlet</servlet-name>
    <url-pattern>/ShowShowmoiveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateShowmoiveServlet</display-name>
    <servlet-name>UpdateShowmoiveServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.showmoive.UpdateShowmoiveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateShowmoiveServlet</servlet-name>
    <url-pattern>/UpdateShowmoiveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowTheatresItemServlet</display-name>
    <servlet-name>ShowTheatresItemServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.theatres.ShowTheatresItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTheatresItemServlet</servlet-name>
    <url-pattern>/ShowTheatresItemServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>GetIndexPicFilter</display-name>
    <filter-name>GetIndexPicFilter</filter-name>
    <filter-class>com.chinasofti.moviesell.filters.GetIndexPicFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GetIndexPicFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>FilmInfoMovieServlet</display-name>
    <servlet-name>FilmInfoMovieServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.movie.FilmInfoMovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FilmInfoMovieServlet</servlet-name>
    <url-pattern>/FilmInfoMovieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowShowmoiveItemServlet</display-name>
    <servlet-name>ShowShowmoiveItemServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.showmoive.ShowShowmoiveItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowShowmoiveItemServlet</servlet-name>
    <url-pattern>/ShowShowmoiveItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindShowmovieItemByCnoServlet</display-name>
    <servlet-name>FindShowmovieItemByCnoServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.showmoive.FindShowmovieItemByCnoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindShowmovieItemByCnoServlet</servlet-name>
    <url-pattern>/FindShowmovieItemByCnoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOrderServlet</display-name>
    <servlet-name>AddOrderServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.order.AddOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrderServlet</servlet-name>
    <url-pattern>/AddOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteOrderServlet</display-name>
    <servlet-name>DeleteOrderServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.order.DeleteOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteOrderServlet</servlet-name>
    <url-pattern>/DeleteOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindByIdOrderServlet</display-name>
    <servlet-name>FindByIdOrderServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.order.FindByIdOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindByIdOrderServlet</servlet-name>
    <url-pattern>/FindByIdOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowOrderServlet</display-name>
    <servlet-name>ShowOrderServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.order.ShowOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOrderServlet</servlet-name>
    <url-pattern>/ShowOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateOrderServlet</display-name>
    <servlet-name>UpdateOrderServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.order.UpdateOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOrderServlet</servlet-name>
    <url-pattern>/UpdateOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindShowmoiveItemByCondtionServlet</display-name>
    <servlet-name>FindShowmoiveItemByCondtionServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.showmoive.FindShowmoiveItemByCondtionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindShowmoiveItemByCondtionServlet</servlet-name>
    <url-pattern>/FindShowmoiveItemByCondtionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindTheatresByCnoServlet</display-name>
    <servlet-name>FindTheatresByCnoServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.theatres.FindTheatresByCnoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindTheatresByCnoServlet</servlet-name>
    <url-pattern>/FindTheatresByCnoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindCityByTnoServlet</display-name>
    <servlet-name>FindCityByTnoServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.cities.FindCityByTnoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindCityByTnoServlet</servlet-name>
    <url-pattern>/FindCityByTnoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindUserSeeOrderServlet</display-name>
    <servlet-name>FindUserSeeOrderServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.order.FindUserSeeOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindUserSeeOrderServlet</servlet-name>
    <url-pattern>/FindUserSeeOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAdminSeeOrderServlet</display-name>
    <servlet-name>FindAdminSeeOrderServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.order.FindAdminSeeOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAdminSeeOrderServlet</servlet-name>
    <url-pattern>/FindAdminSeeOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveCitySelectedServlet</display-name>
    <servlet-name>SaveCitySelectedServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.cities.SaveCitySelectedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveCitySelectedServlet</servlet-name>
    <url-pattern>/SaveCitySelectedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveCityFilminfoServlet</display-name>
    <servlet-name>SaveCityFilminfoServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.cities.SaveCityFilminfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveCityFilminfoServlet</servlet-name>
    <url-pattern>/SaveCityFilminfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindShowmoiveItemByIdServlet</display-name>
    <servlet-name>FindShowmoiveItemByIdServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.showmoive.FindShowmoiveItemByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindShowmoiveItemByIdServlet</servlet-name>
    <url-pattern>/FindShowmoiveItemByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateOrderServlet</display-name>
    <servlet-name>CreateOrderServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.order.CreateOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateOrderServlet</servlet-name>
    <url-pattern>/CreateOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllTheatreMoviesServlet</display-name>
    <servlet-name>FindAllTheatreMoviesServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.FindAllTheatreMoviesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllTheatreMoviesServlet</servlet-name>
    <url-pattern>/FindAllTheatreMoviesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PageOrderItemServlet</display-name>
    <servlet-name>PageOrderItemServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.order.PageOrderItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageOrderItemServlet</servlet-name>
    <url-pattern>/PageOrderItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreUploadPicServlet</display-name>
    <servlet-name>PreUploadPicServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.PreUploadPicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreUploadPicServlet</servlet-name>
    <url-pattern>/PreUploadPicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdatePicServlet</display-name>
    <servlet-name>UpdatePicServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.UpdatePicServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdatePicServlet</servlet-name>
    <url-pattern>/UpdatePicServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PicReturnMovieServlet</display-name>
    <servlet-name>PicReturnMovieServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.movie.PicReturnMovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PicReturnMovieServlet</servlet-name>
    <url-pattern>/PicReturnMovieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveCityHelperServlet</display-name>
    <servlet-name>SaveCityHelperServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.cities.SaveCityHelperServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveCityHelperServlet</servlet-name>
    <url-pattern>/SaveCityHelperServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HelperFindTheatreServlet</display-name>
    <servlet-name>HelperFindTheatreServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.theatres.HelperFindTheatreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelperFindTheatreServlet</servlet-name>
    <url-pattern>/HelperFindTheatreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveProSelectedServlet</display-name>
    <servlet-name>SaveProSelectedServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.cities.SaveProSelectedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveProSelectedServlet</servlet-name>
    <url-pattern>/SaveProSelectedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindCproCnoByTnoServlet</display-name>
    <servlet-name>FindCproCnoByTnoServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.FindCproCnoByTnoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindCproCnoByTnoServlet</servlet-name>
    <url-pattern>/FindCproCnoByTnoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SavePaiXunServlet</display-name>
    <servlet-name>SavePaiXunServlet</servlet-name>
    <servlet-class>com.chinasofti.moviesell.servlet.SavePaiXunServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SavePaiXunServlet</servlet-name>
    <url-pattern>/SavePaiXunServlet</url-pattern>
  </servlet-mapping>
</web-app>